_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules

# Ignore generated JS files (doing it manually for now)
js/cat-api.js
js/domain-color.js

# Ignore generated wasm files
wasm/*/target
