_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules
.DS_Store
.bundle

# Ignore generated JS files
js

# Ignore generated wasm files
wasm/*/target

# Special ignore directory for scratch
scratch
