---
---

@keyframes slidein {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100;
  }
}

input {
  margin: 0 5px;
}

label > h1:hover {
  opacity: 50%;
}

.post-title, .post-meta {
  text-align: center;
}

.post-title {
  transition: 0.5s;
}

.post-title:hover {
  color: green;
  font-size: 3.5em;
  transition: 0.5s;
}

.content {

}

.divider {
  margin: 50px 0;
}

.miniproject {
  border-style: dashed;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input[id^='check'] {
  display: none;
}

input[id^='check']:not(:checked) ~ label > h1 {
  margin-bottom: 0;
  transition: margin-bottom 0.5s;
}

.hide {
  // margin-bottom: 50px;
  // display: none;
  height: 0;
  opacity: 0%;
  overflow-y: auto;
  transition: 0.5s;
}

input[id^='check']:checked ~ .hide {
  // display: block;
  height: 300px;
  opacity: 100%;
  overflow-y: auto;
  transition: 0.5s;
}

.center {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
  margin: 20px;
}

.description {
  width: 50%;
  margin: 20px;
}
