---
---

// TODO: Ignore this error, trying to figure out a way
// for VSCode to not freak out?
@import "../_sass/minima";

// Hack to get low opacity background image on top
// body {
//   position: relative;
// }

// body:before {
//   content: " ";
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   background-image: url("/assets/IMG_4011.jpg");
//   background-size: contain;
//   opacity: 0.1;
// }

ul {
  list-style-type: lower-roman;
}

input {
  margin: 0 5px;
}

label > h1:hover {
  opacity: 50%;
}

.post-title, .post-meta {
  text-align: center;
}

.post-title:hover {
  color: $title-color;
}

li {
  padding: 5px;
}

li:hover {
  background-color: #222;
  border-radius: 10px;
}

// woo zoom on hover

li, img, .post-title {
  transition: 0.5s;
}

li:hover, img:hover, .post-title:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

// janky stuff for index page

.background-box {
  margin: 10px;
}

.background-box ul {
  margin-bottom: 0;
}

.divider {
  margin: 50px 0;
}

.miniproject {
  border-style: dashed;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input[id^='check'] {
  display: none;
}

input[id^='check']:not(:checked) ~ label > h1 {
  margin-bottom: 0;
  transition: margin-bottom 0.5s;
}

.hide {
  // margin-bottom: 50px;
  // display: none;
  height: 0;
  opacity: 0%;
  overflow-y: auto;
  transition: 0.5s;
}

input[id^='check']:checked ~ .hide {
  // display: block;
  height: 400px;
  opacity: 100%;
  overflow-y: auto;
  transition: 0.5s;
}

.section {
  margin: 10px 0;
}

.center {
  display: flex;
  justify-content: center;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaced {
  justify-content: space-around;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.unit-size {
  flex: 1 1 0px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
  margin: 20px;
}

.description {
  width: 50%;
  margin: 20px;
}

.fixed-height {
  height: 300px;
}

#graph-canvas {
  transform: scale(3);
}
