---
---

.section {
  margin-top: 100px;
}

.center {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.full-width {
  width: 100%;
  margin: 20px;
}

.description {
  width: 50%;
  margin: 20px;
}

input {
  margin: 0 5px;
}
