---
layout: default
---

<div class="home">

  {%- if page.header -%}
    <h1 class="post-title">{{ page.header | escape }}</h1>
  {%- endif -%}

  <div class="content">
    {{ content }}
  </div>

  <hr class="divider"></hr>

  <div>
    <p> Click on any of the following headers to see their corresponding mini-projects. </p>

    <div class="miniproject">
      <input type="checkbox" id="check-cat-api" />
      <label for="check-cat-api"> <h1> The Cat API (react, react-query) </h1> </label>
      <div id="cat-api" class="hide"> </div>
    </div>

    <div class="miniproject">
      <input type="checkbox" id="check-domain-color" />
      <label for="check-domain-color"> <h1> Domain coloring (react, canvas, math.js) </h1> </label>
      <div id="domain-color" class="hide"> </div>
    </div>
  </div>
</div>
